@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-bg: #0a0f1a;
  --color-surface: #111827;
  --color-surface2: #1a2332;
  --color-border: #1f2d3d;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #2a3f52;
  border-radius: 99px;
}
::selection {
  background: #16a34a;
  color: #fff;
}
